/* src/App.css */
.App {
  text-align: center;
  font-family: Arial, sans-serif;
  margin-top: 20px;
  padding-bottom: 50px; /* Para dar espacio al final de la página */
}

h1 {
    color: #2c3e50;
    margin-bottom: 10px;
}

p {
    color: #34495e;
    font-size: 1.1em;
}

section {
    padding: 40px 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #eee;
}

section:last-child {
    border-bottom: none;
}

h2 {
    color: #2980b9;
    margin-bottom: 30px;
    font-size: 2em;
    text-decoration: underline;
    text-underline-offset: 8px;
    text-decoration-thickness: 2px;
}
